<ol class="relative border-l border-gray-200 dark:border-gray-700">
  {% for hist in history %}
  <li class="mb-4 ml-4">
    {% if hist.status == 'Pending' %}
    <div
      style="left: -8px"
      class="absolute w-4 h-4 bg-white dark:bg-gray-700 rounded-full mt-1.5"
    >
      <svg
        aria-hidden="true"
        class="w-4 h-4 mr-2 text-gray-200 dark:text-gray-700 animate-spin"
        viewBox="0 0 100 101"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
          fill="lightgray"
          stroke-width="2"
        />
        <path
          d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
          fill="blue"
          stroke-width="2"
        />
      </svg>
      <span class="sr-only">Loading...</span>
    </div>
    {% elif hist.status == 'Finished' %}
    <div
      style="left: -8px"
      class="absolute w-4 flex items-center justify-center h-4 bg-gray-200 rounded-full mt-1.5 border border-white dark:border-gray-800 dark:bg-gray-700"
    >
      <svg
        class="w-4 h-4 text-green-500 dark:text-green-400 flex-shrink-0"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 20 20"
      >
        <path
          d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
        />
      </svg>
    </div>
    {% elif hist.status == 'Error' %}
    <div
      style="left: -8px; background-color: rgba(255, 0, 0, 0.794)"
      class="absolute w-4 flex items-center justify-center h-4 bg-gray-200 rounded-full mt-1.5 border border-white dark:border-gray-800 dark:bg-gray-700"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="white"
        class="w-3 h-3"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </div>
    {% else %}
    <div
      style="left: -8px"
      class="absolute w-4 h-4 bg-gray-200 rounded-full mt-1.5 border border-white dark:border-gray-800 dark:bg-gray-700"
    ></div>
    {% endif %}
    <div
      class="bg-white dark:bg-gray-800 dark:border-gray-700 p-2 shadow border rounded-md"
    >
      <div style="gap: 4px" class="flex items-center">
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
          {{ hist.name }}
        </h3>
        <time class="text-xs mt-1 font-normal text-gray-400 dark:text-gray-500">
          {{ hist.started_at|date:"m/d, H:i" }}
        </time>
      </div>
      {% if hist.status == 'Error' %}
      <span
        class="bg-red-100 text-right text-red-800 text-xs font-medium mr-2 px-2.5 py-0.5 mt-2 rounded-md border border-red-100"
      >
        {{ hist.description }}
      </span>
      {% else %}
      <p
        class="text-right text-gray-400 dark:text-gray-500 text-xs font-medium py-2"
      >
        {{ hist.description }}
      </p>
      {% endif %} {% comment %}
      <span
        class="bg-gray-100 text-right text-gray-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-md border border-gray-100"
      >
        {{ hist.command }}
      </span>
      {% endcomment %}
      <div
        style="max-width: 420px"
        class="flex gap-4 items-center mt-2 justify-between"
      >
        {% if hist.status == 'Pending' %}
        <span
          class="bg-orange-100 text-right text-orange-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-md border border-orange-100"
          >{{ hist.status }}</span
        >
        {% elif hist.status == 'Finished' %}
        <span
          class="bg-green-100 text-right text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-md border border-green-100"
          >{{ hist.get_finished_in }}</span
        >
        {% elif hist.status == 'Error' %}
        <span
          class="bg-red-100 text-right text-red-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-md border border-red-100"
          >{{ hist.status }}</span
        >
        {% endif %}
      </div>
    </div>
  </li>

  {% endfor %}
</ol>
